.grid {
	max-width: 69em;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 0 7px;
	width: 33%;
	opacity: 0;
}

#gridx li {
	padding: 7px;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}


/* Effect 2: Move Up */

.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% {}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes moveUp {
	0% {}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}
