.lightred {
	background-color: #B71C1C;
}

.darkred {
	background-color: #7F0000;
}

body {
	color: white;
	font-family: verdana;
	margin: 0;
}

.banner img {
	width: 100%;
}

h1 {
	display: inline-block;
}

ul {
	list-style: none;
}

.navigation ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.navigation li {
	padding: 10px;
}

.active {
	font-weight: 700;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 50px 150px;
}

.welcome {
	position: relative;
	text-align: center;
}

.welcome img {
	width: 70%;
	opacity: 0.5;
}

.welcome h3 {
	left: 0;
	position: absolute;
	text-align: center;
	top: 100px;
	width: 100%;
}

.row img {
	width: 100%;
}

.col {
	padding: 30px;
	flex: 1;
}

.col-dou {
	flex: 2;
}

.caption {
	text-align: center;
}

.caption p {
	text-align: justify;
}

#products {
	text-align: center;
}

#products .row {
	padding-top: 0;
}

.footer img {
	width: 100px;
	height: 100px;
}

.footer .col:first-child {
	display: flex;
}

.copyright {
	text-align: center;
	padding-bottom: 10px;
}

#overlay {
	background-image: url(../img/banner/banner3.jpg);
	color: #efefef;
	height: 450px;
}


/* container for external content. uses vertical scrollbar, if needed */

div.contentWrap {
	height: 441px;
	overflow-y: auto;
}

@media only screen and (max-width: 768px) {
	.row {
		flex-direction: column;
	}
}
