@import url('https://fonts.googleapis.com/css?family=Raleway');

/*general*/

.lightred {
	background-color: #B71C1C;
}

.darkred {
	background-color: #7F0000;
}

body {
	color: #DDDDDD;
	font-family: verdana;
	margin: 0;
	background-color: #B71C1C;
	font-family: 'Raleway', sans-serif;
}

.banner img {
	width: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

p {
	padding: 0 10px;
}

h2,
h1 {
	text-align: center;
}

.justify {
	text-align: justify;
}


/*navigation*/

footer ul,
.navi-bar ul {
	list-style: none;
}

.navigation {
	margin-top: -4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navi-bar ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.navigation a,
.tree a {
	color: #BBBBBB;
}

.navi-bar li {
	padding: 10px;
}

.active a,
.tree .active {
	font-weight: 700;
	color: white;
}

.navi-bar a:hover,
.tree a:hover,
footer a:hover {
	color: white;
	font-weight: 700;
}

.nav-button {
	width: 45px;
	height: 45px;
	background-color: transparent;
	border: 0;
	display: none;
	margin: 0 auto;
}


/*button*/

.button {
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 130px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 50px auto;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}


/*row and col*/

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 900px;
	margin: 0 auto;
	max-width: 90%;
}

.row img {
	width: 100%;
}

.col {
	display: inline-block;
	padding: 30px 10px;
	flex: 1;
	max-width: 50%;
}

.col-dou {
	flex: 2;
	max-width: 80%;
}

.caption {
	text-align: center;
}

.tree {
	display: block;
	font-size: 14px;
	width: 80%;
	margin: 5px auto;
}


/*welcome in homepage*/

.welcome {
	text-align: center;
}

.welcome h3 {
	left: 0;
	position: absolute;
	text-align: center;
	top: 100px;
	width: 100%;
}

.welcome .col {
	max-width: 100%;
	position: relative;
}

.welcome img {
	opacity: 0.5;
	display: block;
	height: auto;
	width: 100%;
}


/*products page*/

#products .col {
	padding-top: 0;
}

#products {
	padding-top: 10px;
	text-align: center;
}

#products .row {
	padding-top: 0;
}

#sample-header {
	display: block;
	padding: 10px;
}

.sample {
	width: 900px;
	margin: 0 auto;
	max-width: 90%;
}


/*footer*/

#logo {
	width: 100px;
	height: 100px;
}

footer .col-dou {
	display: flex;
}

.rowx {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.copyright {
	text-align: center;
	padding-bottom: 10px;
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}


/*image hover effect*/

.middle h3,
.middle p {
	display: block;
}

.img-container {
	position: relative;
	width: 100%;
}

.img-container img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.img-container .middle {
	transition: .5s ease;
	opacity: 0;
}

.img-container:hover img {
	opacity: 0.5;
}

.img-container:hover .middle {
	opacity: 1;
}

.capt {
	color: white;
	text-align: center;
}


/*map*/

#map {
	height: 400px;
	width: 100%;
}


/*contact form*/

form {
	width: 80%;
	margin: 0 auto;
}

#feedback-page {
	text-align: center;
}

#form-div {
	background-color: rgba(72, 72, 72, 0.4);
	width: 900px;
	max-width: 90%;
	margin: 0 auto;
	padding: 20px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.feedback-input {
	color: #3c3c3c;
	font-weight: 500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
	background: #fff;
	box-shadow: 0;
	border: 3px solid #B71C1C;
	color: black;
	outline: none;
	padding: 13px 13px 13px 54px;
}

.focused {
	color: black;
	border: #B71C1C solid 3px;
}


/* Icons ---------------------------------- */

#name {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment {
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	background-color: white;
}

@media only screen and (max-width: 580px) {
	#form-div {
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


/*close button*/

.close {
	background: url('../img/icon/close.png') no-repeat center;
	float: right;
	margin-right: 100px;
	margin-top: 10px;
	opacity: 0.3;
	cursor: pointer;
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 3px solid rgba(255, 0, 0, 0);
	-webkit-transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
	-moz-transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
	-ms-transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
	-o-transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
	transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
}

.close:hover {
	opacity: 1;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	border-radius: 50%;
	border-color: rgba(255, 0, 0, 0.2);
}

.credits a {
	text-decoration: underline;
}

@media only screen and (max-width: 768px) {
	footer .row {
		width: 100%;
		max-width: 100%;
		padding: 0;
		flex-direction: column;
	}
	.center-mobile {
		justify-content: center;
	}
	.tree {
		padding-left: 10px;
	}
	.sample {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	.switchable {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	.row {
		width: 100%;
		max-width: 100%;
		padding: 0;
		flex-direction: column;
	}
	.center-mobile {
		justify-content: center;
	}
	.tree {
		padding-left: 10px;
	}
	.col {
		max-width: 100%;
	}
	/*resize navigation icon for small screen*/
	.navi-bar ul {
		padding: 0;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
		transition: all 0.5s;
		max-height: 0;
	}
	.nav-button {
		display: block;
		cursor: pointer;
	}
	.navi-bar ul.open {
		max-height: 300px;
	}
	.switchable {
		display: block;
	}
	.rowx {
		flex-direction: column;
	}
}
